{
  "refseq_source_url": "rsync://hgdownload.cse.ucsc.edu/gbdb/genbank/data/processed/",
  "refseq_target_dir": "/home/vimal/Workspace/gwips_tools/tests/data/genbank",
  "annotations_user": "vimal",
  "refseq_user": "vimal",
  "genomes": {
    "hg19": {
      "datasets": [
        "refGene.MYD",
        "refGene.MYI",
        "refGene.frm",
        "refLink.MYD",
        "refLink.MYI",
        "refLink.frm",
        "gbSeq.MYD",
        "gbSeq.MYI",
        "gbSeq.frm",
        "gbExtFile.MYD",
        "gbExtFile.MYI",
        "gbExtFile.frm",
        "refSeqAli.MYD",
        "refSeqAli.MYI",
        "refSeqAli.frm",
        "refFlat.MYD",
        "refFlat.MYI",
        "refFlat.frm",
        "refSeqStatus.MYD",
        "refSeqStatus.MYI",
        "refSeqStatus.frm",
        "refSeqSummary.MYD",
        "refSeqSummary.MYI",
        "refSeqSummary.frm",
        "knownToRefSeq.MYD",
        "knownToRefSeq.MYI",
        "knownToRefSeq.frm"
      ],
      "source_url": "rsync://hgdownload.cse.ucsc.edu/mysql/hg19/",
      "target_dir": "/home/vimal/Workspace/gwips_tools/tests/data/mysql"
    }
  }
}