{
  "refseq_source_url": "rsync://hgdownload.cse.ucsc.edu/gbdb/genbank/data/processed/",
  "refseq_target_dir": "/home/vimal/Workspace/gwips_tools/tests/data/genbank",
  "annotations_user": "vimal",
  "refseq_user": "vimal",
  "genomes": {
    "hg19": {
      "datasets": [
        "refGene",
        "refLink"
      ],
      "source_url": "rsync://hgdownload.cse.ucsc.edu/mysql/hg19/",
      "target_dir": "/home/vimal/Workspace/gwips_tools/tests/data/mysql",
      "gene_table": "refGene"
    }
  }
}